<html lang="en">

<head> <!--Base Points to localhost-->
    <meta charset="utf-8">
    <title>Merely A Test</title>
    <link rel="stylesheet" href="/sample.css">
    <script>
        async function makeRequest(endpoint) {
            let jwt = localStorage.getItem('jwt');
            const customHeaders = new Headers({
                'Authorization': jwt,
                "Content-Type": "text/html"
            });

            try {
                const response = await fetch(endpoint, {
                    method: 'GET',
                    headers: customHeaders
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const data = await response.text();
                document.body.innerHTML = data;
                console.log('Response:', data);
                window.history.pushState({}, '', endpoint);
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

</head>

<body>
    <div>
        <h1>HELLO WORLD</h1>
        <p>I DON'T DO FRONT END!</p><br>
    </div>
    <div>
        <h2>Here is one link to bring you to the something and another for a 404 error!</h2>
        <a href="#" onclick="event.preventDefault(); makeRequest('/test2')">A PAGE WITH A CLOCK!</a> <br>
        <a href="/error">404 ERROR!</a> <br>
    </div>
    <form id="loginForm" action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form submission behavior
            var formData = new FormData(this);

            fetch('http://127.0.0.22:5000/login', {
                method: 'POST',
                headers: {
                    username: 'admin',
                    password: 'password1',
                },
                body: {
                    username: 'admin',
                    password: 'password1',
                },
            })
                .then(response => response.json()) // Assuming server returns JSON with the JWT
                .then(data => {
                    // Handle the JWT in the response data
                    console.log('Received JWT:', data.token);

                    // You can now use the JWT in your JavaScript code
                    localStorage.setItem('jwt', data.token);
                    // For example, you can store it in localStorage or a cookie for future use
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>

</html>