<html lang="en">

<head> <!--Base Points to localhost-->
    <meta charset="utf-8">
    <title>Merely A Test</title>
    <link rel="stylesheet" href="http://127.0.0.1:3000/sample.css">
</head>

<body>
    <div>
        <h1>HELLO WORLD</h1>
        <p>I DON'T DO FRONT END!</p><br>
    </div>
    <div>
        <h2>Here is one link to bring you to the something and another for a 404 error!</h2>
        <a href="http://127.0.0.22:3000/test2">A PAGE WITH A CLOCK!</a> <br>
        <a href="http://127.0.0.22:3000/error">404 ERROR!</a> <br>
    </div>
</body>

</html>